body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

h1 {
  display: flex;
  position: relative;
  top: 40vh;
  justify-content: center;
}
#Thala {
  display: flex;
  justify-content: center;
  place-items: center;
  height: 100vh;
}

#userInput {
  height: 35px;
  width: 400px;
  display: block;
}

#findThala {
  height: 40px;
  background-color: #008006;
  cursor: pointer;
  border: none;
  color: white;
  margin-left: 10px;
  font-size: 16px;
}

#tryagainButton {
  font-size: 16px;
  height: 40px;
  background-color: #008006;
  cursor: pointer;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  place-items: center;
}
